.form {
  text-align: left;
  width: 50%;
}

.form__input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.3125rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0.6rem 0;
}

.form__input:placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form__input:hover {
  border: 1px solid #304ffe;
  outline: 1px solid #304ffe;
}


.form__error {
  color: red;
}

input:invalid {
  border-color: red;
  outline: 1px solid red;
}

.form__flex {
  display: flex;
  gap: 1rem;
  margin: 0.6rem 0;
}

.form__box {
  margin: 1rem 0;
}

.form__btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #bebdbd;
  box-shadow: 0 0 5px #656565;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form__btn:hover {
  background-color: #919191;
}

.form__btn:focus,
.form__btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form__btn:disabled {
  background-color: #dddddd;
  cursor: none;
}

.form__error {
  color: red;
  position: relative;
}

input[type='checkbox'] {
  margin-right: 0.6rem;
}

fieldset {
  width: 50%;
  border-radius: 0.3125rem;
  margin: 0.6rem 0;
}

label {
  font-size: 16px;
  font-weight: 600;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}