.cards__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1200px) {
  .cards__list {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 440px) {
  .cards__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
